.Home_Page {
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

    .Header {
        background: #dd0000;

        .Header_Home {
            display: flex;
            align-items: center;

            height: 80px;
            max-width: 1450px;
            margin: 0px auto;


            .Logo_Home {
                .Image_Logo {
                    width: 300px;
                    height: 50px;
                }
            }

            .Input_search__Home {
                padding: 0px 30px;

                .Text_Input_search__HomePage {
                    width: 400px;
                    height: 47px;
                    border: none;
                    border-radius: 8px;
                    font-size: 16px;
                    padding: 0px 10px;

                }

                .icon_click_search {
                    position: relative;

                    svg {
                        position: absolute;
                        top: -32px;
                        right: 10px;
                        color: rgb(246, 114, 114);
                        font-size: 20px;
                    }

                }
            }

            .Location_Header {
                display: flex;
                align-items: center;
                line-height: 2;

                .dropdown {
                    #dropdown-item-button {
                        background-color: #ff5050;
                        color: rgb(237, 237, 102);
                        border: none;
                        border-radius: 5px;
                        height: 50px;
                    }
                }
            }

            .Contact_phone_Click {
                margin-left: 64px;

                a {
                    color: white;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    text-align: center;

                    &:hover {
                        background: #ff5050;
                        border-radius: 4px;
                        padding: 4px;
                    }


                    .Icon_Phone_Header {
                        border: 1px solid #ccc;
                        padding: 2px 6px;
                        border-radius: 4px;
                        margin-right: 10px;
                    }

                    p {
                        margin: 0px;
                        font-size: 14px;
                    }
                }
            }

            .Cart_Header {
                margin-left: 64px;

                a {
                    color: white;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    text-align: center;

                    &:hover {
                        background: #ff5050;
                        border-radius: 4px;
                        padding: 4px;
                    }

                    .Icon_Phone_Header {
                        border: 1px solid #ccc;
                        padding: 2px 6px;
                        border-radius: 4px;
                        margin-right: 10px;
                    }

                    p {
                        margin: 0px;
                        font-size: 14px;
                    }
                }
            }

            .Warranty_Policy {
                margin-left: 64px;

                a {
                    color: white;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    text-align: center;

                    &:hover {
                        background: #ff5050;
                        border-radius: 4px;
                        padding: 4px;
                    }

                    .Icon_Phone_Header {
                        border: 1px solid #ccc;
                        padding: 2px 6px;
                        border-radius: 4px;
                        margin-right: 10px;
                    }

                    p {
                        margin: 0px;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .Slide_Home {

        margin: 0px auto;
        position: relative;
        width: 100%;
        display: block;

        .Slide_Home_Content {
            max-width: 1450px;
            margin: 0px auto;
        }

        .Background_SlideTop:before {
            position: absolute;
            content: 'Before';

            top: -0.7rem;
            left: 50%;
            width: 110%;
            height: 125px;
            border-radius: 0 0 50% 50%;
            transform: translateX(-50%);
            background: linear-gradient(115deg, #dd0000 0%, #dd0000 100%) #dd0000;
        }

        .containner_Slide {
            position: absolute;
            width: 1450px;

            .cb_tip {
                background-color: #ffffffe3;
                width: 100%;
                height: 48px;
                border-radius: 8.5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

}