.Product_Sale_Swiper {
    width: 230px !important;


    .Product_item {
        background-color: #fff;
        min-height: 290px;
        text-align: center;
        border-radius: 12px;
        padding: 0px 10px;
        width: 216px;

        .Product_item_saleImage {
            width: 140px;
            height: 150px;
        }

        .Product_itemName {
            h2 {
                width: 100%;
                color: #4d4d4d;
                font-weight: 600;
                font-size: 13px;
                text-decoration: none;
                line-height: 1.4;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0px 0px 5px 0px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                max-height: 55px;
                height: auto;
                margin-bottom: 0px;
                min-height: 50px;
            }
        }

        .Price_ProductItemSale {
            display: flex;
            text-align: center;
            align-items: center;

            .Price_Sale {
                color: red;
                margin-right: 30px;
                margin-bottom: 0px;
            }

            .original_price {
                color: rgb(136, 133, 133);
                font-size: 12px;
            }
        }

        .Product_rating {
            display: flex;
            align-items: center;

            .Rating_Star {
                text-align: center;
                line-height: 24px;
                margin-top: -6px;
                margin-right: 10px;
            }

            .Rating_Value {
                p {
                    margin: 0px;
                    font-size: 12px;
                }
            }
        }

    }
}